:root {
  --main-color: #ff5722;
  --h2-color: rgba(0, 0, 0, 0.7);
  --input-color: #e0dede;
  --backround-color: #e2e2e2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  background-color: var(--backround-color);
}

a {
  transition-duration: 500ms;
  border-radius: 5px;
}
a:hover {
  background-color: black;
}
form {
  width: fit-content;
  position: unset;
  margin: auto;
  display: flex;
  padding: 10px;
  background-color: #ff5722;
  border: 1px solid var(--main-color);
  border-radius: 5px;
}

.labels,
.inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
input,
label {
  padding: 10px;
  border-radius: 5px;
  border: unset;
  font-weight: bold;
}
.inputs {
  margin-top: 6px;
}

.btns input {
  cursor: pointer;
  width: 48%;
  /* padding: 10px 40px; */
}
.content {
  width: 80%;
  margin: 20px auto;
  /* z-index: -1; */
}
aside {
  position: sticky;
  top: 62px;
  left: 0;
  background-color: var(--main-color);
  width: 20%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
aside .bio {
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: fit-content;
}
aside img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

aside a {
  text-align: center;
  width: 100%;
  padding: 10px 0;
  font-size: 20px;
  display: block;
  margin-top: 5px;
  transition-duration: 500ms;
}
aside a:hover {
  background-color: black;
}

.container {
  margin-top: 7%;
  position: relative;
  top: 10%;
  display: flex;
  place-items: center;
  justify-content: center;
  gap: 40px;
}

@media (max-width: 575.98px) {
  .container {
    width: 100%;
  }
}
@media (min-width: 762px) {
  .container {
    width: 100%;
  }
}
@media (min-width: 991.98px) {
  .container {
    width: 100%;
  }
}
@media (min-width: 1199.98px) {
  .container {
    width: 100%;
  }
}

.registertion .register,
.intro .about-us {
  width: fit-content;
  border-radius: 40px;
  border: none;
  margin: 20px auto;
  padding: 10px 40px;
}

a {
  text-decoration: none;
  color: white;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  z-index: -1;
}

/* strat header  */
header {
  z-index: 4;
  position: sticky;
  top: 0;
  width: 100%;
  padding: 10px 0;
  background-color: var(--main-color);
  display: flex;
  justify-content: space-between;
}

header .logo {
  color: wheat;
  margin-left: 10px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  /* line-height: 0.2; */
}
.logo i {
  display: flex;
  align-items: center;
  margin: 0 5px;
}
header .logo h1 {
  padding-top: 5px;
  line-height: 0.5;
}
header a {
  padding: 0 5px;
  margin-right: 20px;
  font-size: 20px;
  display: flex;
  align-items: center;
}
/* end header  */

/* start footer */
footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  padding: 10px 0;
  color: white;
  font-size: 25px;
  background-color: #222;
}

/* end footer */
section {
  flex-wrap: wrap;
  width: 80%;
  justify-content: flex-start;
}
section div {
  display: inline-block;
  margin: 20px 20px 0;
  text-align: center;
  width: calc(80% / 3);
  height: 150px;
  background-color: var(--main-color);
  cursor: pointer;
  border-radius: 5px;
  transition: 200ms;
}
section div * {
  color: wheat;
  position: relative;
  top: calc((100% - 40px) / 2);
}
section div:hover {
  background-color: black;
}

/* start intro */
.intro,
.registertion,
.login {
  width: 35%;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 25%;
}
.intro * {
  font-size: 25px;
  color: white;
  margin-bottom: 40px;
}
.intro p {
  font-size: large;
  color: darkgrey;
}

.intro i {
  color: whitesmoke;
  animation-name: up-down;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  animation-direction: alternate-reverse;
  font-size: 70px;
  font-weight: bolder;
}
.intro i:last-child {
  animation-name: down-up;
}

.intro .about-us {
  color: var(--h2-color);
}
@keyframes up-down {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(30px);
  }
}
@keyframes down-up {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-30px);
  }
}
/* end intro */

/* start Registration */
.registertion {
  background-color: var(--backround-color);
  padding: 60px;
  display: flex;
  position: relative;
  border-radius: 10px;
}

.registertion::after {
  content: "";
  background-color: var(--backround-color);
  position: absolute;
  right: -50px;
  top: 0;
  width: 20%;
  border-radius: 0 50% 50% 0;
  z-index: -1;
  height: 100%;
}

.registertion *,
.login * {
  font-size: large;
  padding: 10px;
  margin-top: 15px;
}
.registertion h2 {
  font-size: 30px;
  margin-top: -50px;
  text-align: center;
  color: var(--h2-color);
}

.registertion .register {
  background-color: var(--main-color);
  color: wheat;
}

.registertion a {
  text-decoration: none;
  color: darkgray;
  font-size: 15px;
}

@media (max-width: 765px) {
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .intro,
  .registertion,
  .login {
    min-width: 70%;
    display: flex;
    place-items: center;
  }
  .registertion::after {
    display: none;
  }
}

/* end registertion */

/* strat login */
.login {
  place-items: center;
  gap: 20px;
  background-color: #f1f1f1;
  border-radius: 20px;
}
.login * {
  margin-top: 0;
  width: 80%;
}
.login input {
  border-radius: 10px;
  width: 80%;
  border-width: 1px;
  border-color: white;
}
.login input:focus {
  /* border: none; */
  outline: none;
  border-bottom: 2px solid var(--main-color);
}
.login h2 {
  font-size: 40px;
  color: var(--h2-color);
  text-align: center;
}

.login button {
  background-color: var(--main-color);
  color: white;
  border: none;
  width: 49%;
  border-radius: 20px;
}

/* end login */
